// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  z-index: 10;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;

  &__info {

    text-align: right;
    margin-left: auto;
    position: relative;
    white-space: nowrap;

    svg {
      margin-right: 10px;
      margin-bottom: 5px;
      vertical-align: middle;
    }

    a {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.1;
      color: #fff;
      text-decoration: none;

      @media (max-width: ($screen-md - 1)) {
        font-size: 15px;
      }
    }

    span {
      color: #fff;
      opacity: 0.7;
      position: absolute;
      right: 0;
      top: 100%;

      @media (max-width: ($screen-md - 1)) {
        font-size: 12px;
      }
    }
  }

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS
      // display: none;

      .js & {
        display: none;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        width: 100%;
        background: #444;
        padding: 15px;
      }

      .js #{$block-name}--open & {
        display: block;
        max-height: 100vh;
        transition: max-height 0.6s;
      }

      #{$block-name}__item {
        margin-bottom: 5px;

        &:not(:last-child) {
          border-bottom: 1px solid lighten(#444, 7%);
        }
      }

      #{$block-name}__link {
        padding: 10px 0;
        text-transform: uppercase;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
      margin-right: auto;

      #{$block-name}__link {

        &:after {
          content: "";
          display: block;
          height: 2px;
          background: transparent;
          position: relative;
          top: 0;
          transition: all $transition-time;
        }

        &.active {

          &:after {
            content: "";
            display: block;
            height: 2px;
            background: $color-main;
            position: relative;
            top: 5px;
          }
        }
      }
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    display: block;
    padding: 0 0.5em;
    line-height: 1.1;
    text-decoration: none;
    color: #fff;
    opacity: 0.85;
    font-size: 16px;

    @media (min-width: $screen-xl) {
      font-size: 18px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }


  // переключатель

  &__toggler {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }
}
